In [1]:
import pandas as pd

In [18]:
ls

Data Via conti..ipynb              Pfizer_1.csv
Data Viz with seaborn.ipynb        Probability Day 1.ipynb
MatplotLib conti. + Seaborn.ipynb  directors.csv
Matplotlib.ipynb                   drive.google.com/
Matplotlib_Revision.ipynb          figure.png
Netflix project.ipynb              gapminder.csv
Pandas_4.ipynb                     jupyterthemes.ipynb
Pandas_5.ipynb                     movies.csv
Pandas_Rev_conti.ipynb             numpy_pandas_revision.ipynb
Pandas_Revision.ipynb              prob_01_basic_definitions/

In [19]:
cd prob_01_basic_definitions/

/Users/jitendranathmahato/Downloads/Scaler/prob_01_basic_definitions

In [20]:
ls

Sachin_ODI.csv                    prob_01_basic_definitions.pdf
covid.csv                         sachin.ipynb
post_read_covid_case_study.ipynb

In [41]:
df_sachin=pd.read_csv("Sachin_ODI.csv")
df_sachin.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [43]:
df_sachin.head(2)

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False

In [44]:
df_sachin.shape

(360, 14)

In [46]:
df_sachin["Won"].value_counts()

True     184
False    176
Name: Won, dtype: int64

In [47]:
#prob of India win
184/360

0.5111111111111111

In [49]:
df_won=df_sachin[df_sachin["Won"]==True]
len(df_won)

184

In [52]:
#prob of India win
prob_India_win=len(df_won)/len(df_sachin)
prob_India_win

0.5111111111111111

In [53]:
df_sachin["century"].value_counts()

False    314
True      46
Name: century, dtype: int64

In [54]:
46/360

0.12777777777777777

In [57]:
df_century=df_sachin[df_sachin["century"]==True]
len(df_century)

46

In [59]:
prob_century=len(df_century)/len(df_sachin)
prob_century

0.12777777777777777

In [60]:
df_sachin[["century","Won"]].value_counts()

century  Won
False    False    160
         True     154
True     True      30
         False     16
dtype: int64

In [62]:
pd.crosstab(index=df_sachin["century"],columns=df_sachin["Won"])

Won      False  True
century
False      160   154
True        16    30

In [65]:
pd.crosstab(index=df_sachin["century"],columns=df_sachin["Won"],margins=True)

Won      False  True  All
century
False      160   154  314
True        16    30   46
All        176   184  360

In [71]:
df_won_cen=df_sachin[(df_sachin["Won"]==True)&(df_sachin["century"]==True)]
len(df_won_cen)

30

In [74]:
prob_win_and_cen=len(df_won_cen)/len(df_sachin)
prob_win_and_cen

0.08333333333333333

In [77]:
df_win_or_cen=df_sachin[(df_sachin["Won"]==True)|(df_sachin["century"]==True)]
len(df_win_or_cen)

200

In [83]:
losing_and_no_cen=df_sachin[(df_sachin["Won"]==False)&(df_sachin["century"]==False)]
len(losing_and_no_cen)

160

In [84]:
prob_losing_and_no_cen=len(losing_and_no_cen)/len(df_sachin)
prob_losing_and_no_cen

0.4444444444444444

In [85]:
losing_or_no_cen=df_sachin[(df_sachin["Won"]==False)|(df_sachin["century"]==False)]
len(losing_or_no_cen)

330

In [86]:
prob_losing_or_no_cen=len(losing_or_no_cen)/len(df_sachin)
prob_losing_or_no_cen

0.9166666666666666

In [88]:
df_dice=pd.read_csv("https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/008/635/original/rolling_single_die.csv?1660305777")
df_dice

       die_outcome
0                3
1                1
2                2
3                4
4                1
...            ...
99995            1
99996            4
99997            4
99998            2
99999            6

[100000 rows x 1 columns]

In [93]:
len(df_dice)

100000

In [92]:
len(df_dice[df_dice["die_outcome"]==3])

16530

In [94]:
16530/100000

0.1653

In [95]:
len(df_dice[df_dice["die_outcome"]==5])

16820

In [96]:
16820/100000

0.1682

In [97]:
1-0.1682

0.8318

In [98]:
df_sachin.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [106]:
df_atleast_3_4=df_sachin[df_sachin["fours"]>=3]
len(df_atleast_3_4)

208

In [107]:
prob_atleast_3_4=len(df_atleast_3_4)/len(df_sachin)
prob_atleast_3_4

0.5777777777777777

In [110]:
df_atmost_2_4=df_sachin[df_sachin["fours"]<=2]
len(df_atmost_2_4)

152

In [111]:
prob_df_atmost_2_4=len(df_atmost_2_4)/len(df_sachin)
prob_df_atmost_2_4

0.4222222222222222