In [1]:
ls

Data Via conti..ipynb              Probability Day 1.ipynb
Data Viz with seaborn.ipynb        Probability Day 2.ipynb
Data_Vizzzzzz.ipynb                Untitled.ipynb
MatplotLib conti. + Seaborn.ipynb  Untitled1.ipynb
Matplotlib.ipynb                   directors.csv
Matplotlib_Revision.ipynb          drive.google.com/
Netflix project.ipynb              figure.png
Pandas_4.ipynb                     gapminder.csv
Pandas_5.ipynb                     jupyterthemes.ipynb
Pandas_Rev_conti.ipynb             movies.csv
Pandas_Revision.ipynb              numpy_pandas_revision.ipynb
Pfizer_1.csv                       prob_01_basic_definitions/

In [3]:
cd prob_01_basic_definitions

/Users/jitendranathmahato/Downloads/Scaler/prob_01_basic_definitions

In [4]:
ls

Sachin_ODI.csv                    prob_01_basic_definitions.pdf
covid.csv                         sachin.ipynb
post_read_covid_case_study.ipynb

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df_sachin=pd.read_csv("Sachin_ODI.csv")
df_sachin.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [8]:
df_sachin.shape

(360, 14)

In [9]:
df_sachin["Won"].value_counts()

True     184
False    176
Name: Won, dtype: int64

In [ ]:
probablity of winning : 184/360

In [10]:
184/360

0.5111111111111111

In [11]:
df_won=df_sachin[df_sachin["Won"]==True]

In [12]:
len(df_won)

184

In [13]:
prob_winning=len(df_won)/len(df_sachin)
prob_winning

0.5111111111111111

In [15]:
df_sachin["century"].value_counts()

False    314
True      46
Name: century, dtype: int64

In [16]:
46/360

0.12777777777777777

In [17]:
df_century=df_sachin[df_sachin["century"]==True]

In [18]:
prob_century=len(df_century)/len(df_sachin)
prob_century

0.12777777777777777

In [19]:
df_sachin[["century","Won"]].value_counts()

century  Won
False    False    160
         True     154
True     True      30
         False     16
dtype: int64

In [20]:
pd.crosstab(index=df_sachin["century"],columns=df_sachin["Won"])

Won      False  True
century
False      160   154
True        16    30

In [22]:
pd.crosstab(index=df_sachin["century"],columns=df_sachin["Won"],margins=True)

Won      False  True  All
century
False      160   154  314
True        16    30   46
All        176   184  360