In [1]:
import pandas as pd

In [2]:
ls

Data Via conti..ipynb              Probability Day 1.ipynb
Data Viz with seaborn.ipynb        Probability Day 2.ipynb
MatplotLib conti. + Seaborn.ipynb  directors.csv
Matplotlib.ipynb                   drive.google.com/
Matplotlib_Revision.ipynb          figure.png
Netflix project.ipynb              gapminder.csv
Pandas_4.ipynb                     jupyterthemes.ipynb
Pandas_5.ipynb                     movies.csv
Pandas_Rev_conti.ipynb             numpy_pandas_revision.ipynb
Pandas_Revision.ipynb              prob_01_basic_definitions/
Pfizer_1.csv

In [5]:
cd prob_01_basic_definitions

/Users/jitendranathmahato/Downloads/Scaler/prob_01_basic_definitions

In [6]:
ls

Sachin_ODI.csv                    prob_01_basic_definitions.pdf
covid.csv                         sachin.ipynb
post_read_covid_case_study.ipynb

In [8]:
df_sachin=pd.read_csv("Sachin_ODI.csv")
df_sachin.head(2)

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False

In [12]:
pd.crosstab(index=df_sachin["century"],columns=df_sachin["Won"],margins=True)

Won      False  True  All
century
False      160   154  314
True        16    30   46
All        176   184  360

In [13]:
df_century=df_sachin[df_sachin["century"]==True]
len(df_century)

46

In [14]:
df_win_given_century=df_century[df_century["Won"]==True]
len(df_win_given_century)

30

In [15]:
prob_win_given_century=len(df_win_given_century)/len(df_century)
prob_win_given_century

0.6521739130434783