In [1]:
import numpy as np
import pandas as pd

In [2]:
ls

Data Via conti..ipynb
Data Viz with seaborn.ipynb
Data_Vizzzzzz.ipynb
MatplotLib conti. + Seaborn.ipynb
Matplotlib.ipynb
Matplotlib_Revision.ipynb
Netflix project.ipynb
Pandas_4.ipynb
Pandas_5.ipynb
Pandas_Rev_conti.ipynb
Pandas_Revision.ipynb
Pfizer_1.csv
Probability Day 1.ipynb
Probability Day 2.ipynb
Probability basic defination.ipynb
Probablity 1 retake.ipynb
Think Stats, 2nd Edition_ Exploratory Data Analysis ( PDFDrive ).pdf
Untitled.ipynb
directors.csv
drive.google.com/
figure.png
gapminder.csv
jupyterthemes.ipynb
movies.csv
numpy_pandas_revision.ipynb
prob_01_basic_definitions/

In [3]:
cd prob_01_basic_definitions/

/Users/jitendranathmahato/Downloads/Scaler/prob_01_basic_definitions

In [4]:
ls

Sachin_ODI.csv                    prob_01_basic_definitions.pdf
covid.csv                         sachin.ipynb
post_read_covid_case_study.ipynb

In [8]:
df_sachin=pd.read_csv("Sachin_ODI.csv")
df_sachin.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [9]:
df_sachin.shape

(360, 14)

In [10]:
df_sachin["Won"].value_counts()

True     184
False    176
Name: Won, dtype: int64

In [ ]:
probability of winning=184/360

In [13]:
len(df_sachin[df_sachin["Won"]==True])

184

In [14]:
df_won=df_sachin[df_sachin["Won"]==True]

In [15]:
len(df_won)

184

In [16]:
prob_wining=len(df_won)/len(df_sachin)
prob_wining

0.5111111111111111